<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>


  <connectionStrings>
    <add name="Control_Doc.My.MySettings.DB_ERP_ahmedConnectionString"
      connectionString="data source=AHMED_MAHMOUD\ahmed;Initial Catalog=DB_ERP_ahmed;User ID=ahmed2"
      providerName="System.Data.SqlClient" />
    <add name="Control_Doc.My.MySettings.DB_ECGConnectionString" connectionString="data source=AHMED_MAHMOUD;Initial Catalog=DB_ECG;User ID=ahmed;Password=omar2007"
      providerName="System.Data.SqlClient" />
    <add name="Control_Doc.My.MySettings.DB_ECGConnectionString1"
      connectionString="data source=AHMED_MAHMOUD;Initial Catalog=DB_ECG;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Control_Doc.My.MySettings.work_packageConnectionString"
      connectionString="data source=AHMED_MAHMOUD;Initial Catalog=work_package;User ID=ahmed;Password=omar2007"
      providerName="System.Data.SqlClient" />
    <add name="aa" connectionString="data source=AHMED_MAHMOUD;Initial Catalog=AHMED_MAHMOUD;User ID=AHMED_MAHMOUD;Password=AHMED_MAHMOUD"
      providerName="System.Data.SqlClient" />
    <add name="DESKTOP-65CBTPJ\OS_DB_Interpak_Connection" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=AHMED_MAHMOUD;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="Control_Doc.My.MySettings.DB_ERP_test" connectionString="data source=AHMED_MAHMOUD/AHMED_MAHMOUD-SERVER2;Initial Catalog=DB_ERP_ahmed;User ID=ahmed;Password=omar2007"
      providerName="System.Data.SqlClient" />
    <add name="Control_Doc.My.MySettings.ahmed_Orcale" connectionString="Data Source=test;User ID=ahmed;Unicode=True"
      providerName="System.Data.OracleClient" />
    <add name="Control_Doc.My.MySettings.DB_InterpakConnectionString_New"
      connectionString="data source=AHMED_MAHMOUD/ahmed-SERVER2;initial catalog=DB_ECG;User ID=ahmed;Password=omar2007"
      providerName="System.Data.SqlClient" />
    <add name="Control_Doc.My.MySettings.DB_InterpakConnectionString"
      connectionString="data source=AHMED_MAHMOUD/ahmed-SERVER2;Initial Catalog=DB_Interpak;User ID=ahmed;Password=omar2007"
      providerName="System.Data.SqlClient" />
    <add name="oahmedma\omar_DB_Interpak_Connection" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD/ahmed-SERVER2;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="Control_Doc.My.MySettings.DB_InterpakConnectionString1"
      connectionString="data source=AHMED_MAHMOUD/ahmed-SERVER2;Initial Catalog=DB_Interpak;Persist Security Info=True;User ID=ahmed;Password=omar2007"
      providerName="System.Data.SqlClient" />
    <add name="DB_InterpakConnectionString1" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD/ahmed;initial catalog=DB_ECG;Persist Security Info=True;User ID=ahmed;Password=omar2007" />
    <add name="Control_Doc.My.MySettings.DB_Test2" connectionString="data source=AHMED_MAHMOUD/ahmed-SERVER2\omar;Initial Catalog=DB_Interpak;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ahmed-server\omar_DB_Interpak_Connection23" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="ahmed-server\omar_DB_Interpak_Connection" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="ahmed-server\omar_DB_Interpak_Connection25" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="192.168.92.150_DB_Interpak_Connection33" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="192.168.92.150_DB_Interpak_Connection35" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma\omar_DB_Interpak_Connection20" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="192.168.92.150_DB_Interpak_Connection60" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="ahmed-SERVER\ahmed_DB_Interpak_Connection100" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma\omar_DB_Interpak_Connection 102" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma\omar_DB_Interpak_Connection 103" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma\omar_DB_Interpak_Connection 108" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma\omar_DB_Interpak_Connection 209" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="192.168.92.150_DB_Interpak_Connection500" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="ahmed-SERVER\ahmed_DB_Interpak_Connection" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="ahmed-SERVER\ahmed_DB_Interpak_Connection 1001" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="192.168.92.150_DB_Interpak_Connection2001" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma\omar_DB_Interpak_Connection 122" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma\omar_DB_Interpak_Connection 10023" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma\omar_DB_Interpak_Connection 105" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma\omar_DB_Interpak_Connection 109" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD/ahmed-SERVER2;user id=;password=;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma\omar_DB_Interpak_Connection 110" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="ahmed-SERVER\ahmed_DB_Interpak_Connection 120" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma\omar_DB_KAISSY_New_Connection250" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="SERVER\ahmed2_DB_KAISSY_New_Connection" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma\omar_DB_KAISSY_New_Connection" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="DESKTOP-65CBTPJ\OS_DB_KAISSY_New_Connection" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="SERVER_DB_KAISSY_New_Connection" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="pc1_DB_KAISSY_New_Connection" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="pc1_DB_KAISSY_New_Connection 12" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="pc1_DB_KAISSY_New_Connection 121" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma_DB_ECG_Connection" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma_DB_ECG_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma_DB_ECG_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma_DB_ECG_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma_DB_ECG_Connection 4" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma_DB_ECG_Connection 5" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma_DB_ECG_Connection 6" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="192.168.1.3_DB_ECG_Connection" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma_DB_ECG_Connection 7" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma_DB_ECG_Connection 8" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="192.168.1.7_DB_ECG_Connection" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="oahmedma\ahmed_DB_ECG_Connection" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="Control_Doc.My.MySettings.ConnectionString" connectionString="data source=AHMED_MAHMOUD;Persist Security Info=True;User ID=ahmed;Password=omar2007;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="localhost_DB_ECG_Connection" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="localhost_DB_ECG_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="localhost_DB_ECG_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="localhost_DB_ECG_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="localhost_DB_ECG_Connection 4" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="localhost_Connection" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="localhost_DB_ECG_Connection 5" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=;password=;initial catalog=DB_ECG;Persist Security Info=true;TrustServerCertificate=true" />
    <add name="localhost_DB_ECG_Connection 9" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=;password=;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="localhost_DB_ECG_Connection 6" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="localhost_DB_ECG_Connection 7" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
    <add name="localhost_DB_ECG_Connection 8" connectionString="XpoProvider=MSSqlServer;data source=AHMED_MAHMOUD;user id=ahmed;password=omar2007;initial catalog=DB_ECG;Persist Security Info=true" />
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
